.footer {
    background-color: #fff6ff !important;
    padding: 20px 0;
  }
  
  .social-icons a {
    color: #343a40;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ff69b4;
  }
  